VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=points-app-e3f7b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=points-app-e3f7b
VITE_FIREBASE_STORAGE_BUCKET=points-app-e3f7b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=137744191015
VITE_FIREBASE_APP_ID=your-app-id
