VITE_SUPABASE_URL=https://qybcztsfztmgavysyxqv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5YmN6dHNmenRtZ2F2eXN5eHF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxMTY5MzIsImV4cCI6MjEwMzY5MjkzMn0.1cs4Qgp4Hy4okxkh2Wbzw2eAe9Sw6Te1nCyUSAkAD7E
