VITE_SUPABASE_URL=https://ncesmubuqxowqiohphrc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jZXNtdWJ1cXhvd3Fpb2hwaHJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNDk1NzQsImV4cCI6MjEwMzYyNTU3NH0.ug3fYul0ktIz-C-XiJvsFUQoxL3_DBQNPlwv30q_bt0
